html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  background: #fff;
  overflow-x: hidden;
}
.navigation-row {
  width: 100%;
  font-family: "Lora", serif;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: #ecf0f1;
}
.navigation-row .navigation {
  padding: 5px 15px;
}
.navigation-row .navigation .nav-title {
  font-size: 2.6rem;
}
.navigation-row .navigation .links {
  list-style-type: none;
}
.navigation-row .navigation .links li {
  display: inline-block;
  font-size: 1.8rem;
  padding: 5px 10px;
}
.header-row {
  min-height: 1080px;
  background: #000;
  overflow-x: hidden;
}
.header-row .header-video {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.header-row #header-text {
  position: absolute;
  top: 180px;
  left: 0;
  color: #ecf0f1;
  text-shadow: #222 0px 1px 1px;
  z-index: 2;
}
.header-row #header-text .h1 {
  font-family: "Lora", serif;
  font-size: 5.6rem;
}
.header-row #header-text p {
  font-family: "Lora", serif;
  font-size: 3.0rem;
  font-weight: lighter;
}
.header-row #header-text .em {
  font-weight: bold;
  color: #fff;
}
iframe.video {
  margin: 15px auto;
  display: block;
}
.row {
  position: relative;
  top: 0;
  left: 0;
  min-height: 450px;
  overflow: hidden;
  background: #fff;
}
.row.quote {
  min-height: 250px;
}
.row .row-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #000;
}
.row .row-bg img {
  width: 100%;
  margin: 0;
  opacity: 0.8;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
.row .row-text {
  position: inherit;
  padding: 24px 0;
  overflow: hidden;
  border-top: 1px solid #ecf0f1;
}
.row .row-text .row-title {
  position: inherit;
  z-index: 3;
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0;
  color: #bdc3c7;
}
.no-bg.row .row-text .row-title {
  color: #333;
}
.row .row-text .row-body {
  padding: 10px 25px;
  z-index: 3;
  background: #ddd;
  opacity: 0.85;
  font-size: 2.0rem;
  line-height: 1.7;
}
.no-bg.row .row-text .row-body {
  background: transparent;
  opacity: 1;
}
.row .row-text blockquote {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 25px;
  border-left: 0;
  z-index: 3;
  background: #ddd;
  opacity: 0.85;
}
.no-bg.row .row-text blockquote {
  background: transparent;
  opacity: 1;
}
.row .row-text blockquote .quotation {
  line-height: 1.5;
  font-size: 3.0rem;
  width: 85%;
}
.row .row-text blockquote .attribution {
  margin: 0 0 10px 0;
  width: 45%;
  font-style: italic;
  float: right;
  font-size: 2.0rem;
}
.row .row-text .row-image {
  margin-bottom: 10px;
}
.row .row-text .row-image img {
  width: 100%;
  padding: 0 15px;
}
.welcome {
  font-family: "Lora", serif;
  font-size: 4.0rem;
  font-weight: bold;
  text-align: center;
}
.footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 1.8rem;
  text-align: center;
  color: #000;
  background: transparent;
  -webkit-transition: all 0.6s -webkit-ease-in-out;
  transition: all 0.6s ease-in-out;
}
.footer:hover {
  background: #eee;
  opacity: 0.9;
}
.footer p {
  margin: 0;
}
